<!-- Validation failure messages -->
<% if @city.errors.any? %>
  <% @city.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add City</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_city" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city_name -->
      <div class="form-group">
        <label for="city_name" class="control-label">
          City name
        </label>

        <input type="text" id="city_name" name="city_name" placeholder="City name" class="form-control" value="<%= @city.city_name %>">
      </div>

      <button class="btn btn-success">
        Create City
      </button>
      or
      <a href="/cities">Cancel</a>
    </form>
  </div>
</div>
